* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

button,
input,
select,
textarea,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 2rem;
        max-width: 1200px;
        margin: 0 auto;
        height: 50px;

        .nav-brand {
            font-family: "Gravitas One", serif;
            font-weight: 400;
            font-style: normal;
        }

        .nav-list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            a:hover {
                color: red;
                transition: color 0.3s;
            }
        }
    }
}

header #navbar .hamburguer-menu {
    display: none;

    img {
        width: 40px;
    }
}

@media (max-width: 740px){
    header #navbar .hamburguer-menu {
        display: block;
    }

    header #navbar .nav-list {
        display: none;
    }
}

main {
    margin-top: 10rem;

    #banner {
        display: flex;
        justify-content: space-between;

        max-width: 1200px;
        padding: 0 2rem;
        margin: 0 auto;

        .banner-content {
            .banner-content-title {
                font-size: 60px;
                margin-bottom: 50px;
            }

            .banner-content-subtitle {
                margin-bottom: 50px;
                max-width: 500px;
            }

            .banner-content-button {
                width: 170px;
                height: 30px;
                background-color: rgb(255, 19, 19);
                color: white;
                cursor: pointer;
                font-size: 15px;
                font-weight: 600;
                border: none;
            }

            .banner-content-button:hover {
                background-color: rgb(196, 7, 7);
            }
        }
    }

    img {
        border-radius: 50%;
        width: 100%;
        max-width: 300px;
    }

    #posts {
        background-color: rgb(247, 247, 247);
        height: 350px;
        margin-top: 100px;

        .posts-content {
            max-width: 1200px;
            padding: 0 2rem;
            margin: 0 auto;

            .posts-content-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 0;

                .view-all {
                    text-decoration: none;
                    color: red;
                }
            }

            .posts-cards {
                display: flex;
                gap: 20px;

                .post-card {
                    background-color: white;
                    padding: 2rem;

                    h3 {
                        padding-bottom: 15px;
                    }

                    p {
                        padding-top: 15px;
                        font-size: 17px;
                    }

                    span {
                        color: rgb(121, 121, 121);
                    }


                }
            }
        }
    }
}

@media (max-width: 920px) {
    main #banner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        .banner-content {
            text-align: center;
        }
    }
}

@media (max-width: 740px) {
    #posts .posts-content .posts-cards {
        flex-direction: column;
    }
}