* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

button,
input,
select,
textarea,
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: white;

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 2rem;
        max-width: 1200px;
        margin: 0 auto;
        height: 50px;

        .nav-brand {
            font-family: "Gravitas One", serif;
            font-weight: 400;
            font-style: normal;
        }

        .nav-list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            a:hover {
                color: red;
                transition: color 0.3s;
            }
        }
    }
}

main {
    margin-top: 3rem;

    #banner {
        display: flex;
        max-width: 1200px;
        padding: 0 2rem;
        margin: 0 auto;

        .banner-content {
            .banner-content-title{
                font-size: 60px;
            }
        }
    }
}