* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);
    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2rem;
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
}

main > h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

main #search-form form {
    width: 100%;
    gap: 0.5rem;

    display: flex;
    margin-bottom: 1rem;
}

main #search-form input{
    flex: 1;
    border: none;
    padding: 5px;
}

main #search-form button{
    background-color: seagreen;
    color: white;
    border: none;
    padding: 0rem 1rem;
}

main #tempo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main #tempo-info .tempo-dados h2 {
    font-size: 15px;
    margin-bottom: 0.2rem;
    font-weight: 400;
}

main #tempo-info .tempo-dados span {
    font-size: 3rem;
    font-weight: bold;
}
